/* Add here all your CSS customizations */
.separador{
    border-top: 1px solid #f3f3f3;
}
.separaralt
{
    margin-top: 20px;
}
.separaraltbottom
{
    margin-bottom: 20px;
}
.enlinea{
    display: inline;
}

#mapa {
    height: 300px;
    width: 100%;
}

#mapaLista {
    height: 500px;
    width: 100%;
}

#image-upload-demo {
    width: 100%;
    margin: auto;
}

[ng-cloak] {
    display: none;
}

.lg-outer {
    z-index: 50000 !important;
}

.lg-backdrop {
    z-index: 40000 !important;
}

#viewer {
    width: 100%;
    height: 300px;
}
.sinmargenab{
    margin-bottom: 0rem !important;
}
.disable-href{
    color: grey;
    pointer-events: none;
  opacity: 0.5;
  text-decoration: none;
}
.tab-pane h5.mb-3 {
    font-weight: 700;
}
.bg-none{
    background-color: transparent !important;
}
a.btn {
    text-decoration: none;
}
.icons_docs img {
    max-width: 400px;
    margin-bottom: 20px;
}
.btn-add {
    width: 15px;
    float: right;
    cursor: pointer;
    font-size: 25px;
    margin: 0px 10px;
}
.correct-margin{
    margin-left: -15px;
    margin-right: -15px;
}
td .btn-default {
    background: none;
}
.danger-text {
    color: red;
    font-weight: 700;
}
.danger-input{
    border-color: red;
}
.danger-tr{
    background-color: #d213134d !important;
}
.page-item.active .page-link {
    background-color: #00509e !important;
    border-color: #57a4d8 !important;
}

section.padding-big {
    padding: 50px 100px;
}
section.padding-small {
    padding: 10px 25px;
}
.section-container.row {
    width: 100%;
    margin-left: 85px;
    margin-right: 85px;
}
.caract input{
    opacity: 1;
    float: left;
}
.fill_carct{
    background-color: #00519f;
    color: white;
}

.tabs-property-detail .active a {
    color: black !important;
}

.followings-submenu ul {
    list-style-type: none;
    background-color: white;
    padding-left: 0px;
    position: absolute;
    z-index: 2;
    border: 1px solid grey;
}

.followings-submenu ul li {
    border-bottom: 1px solid grey;
    padding: 8px;
}

.followings-submenu ul li a {
    text-decoration: none;
}
